<div class="container">

    <div class="row text-right" ng-controller="user-login-ctrl">
        <div class="col-lg-8"></div>
        <div ng-if="currentEmail" class="col-lg-4" >
            <span>Welcome, {{currentEmail}}</span>
            <a href="#/knight-list">Knight</a>
            <a href="#/knight-all">All</a>
            <a href="" ng-click="logout()">Sign out</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ng:view/>
        </div>
    </div>
</div>