<div class="container">

    <div class="row text-right">
        <div class="col-lg-8"></div>
        <div class="col-lg-4">
            <a href="#/knight-list">Knight</a>
            <a href="${reqContext.buildUrl({" locale":"zh_CN"})}">简体中文</a>
            <a href="/statics/list-show" target="_blank">SOAP List</a>
            <a href="/rs/application.wadl" target="_blank">REST WADL</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ng:view/>
        </div>
    </div>
</div>